* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
}
html {
  font-size: 62.5%;
}
.content {
  margin: auto;
}
.image-blob{
  width: 200px;
  height: 200px;
  background: url(./image.jpg) center/cover no-repeat border-box;
  border-radius: 50%;
  animation: blob 8s linear alternate infinite;
}
@keyframes blob {
  20%{
    border-radius: 60% 35% 40% 50%;
  }
  40%{
    border-radius: 50% 25% 35% 65%;
  }
  60%{
    border-radius: 45% 40% 50% 30%;
  }
  80%{
    border-radius: 25% 39% 60% 29%;
  }
  100%{
    border-radius: 45% 60% 30% 60%;
  }
}
